<h1>Article Description</h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.descrition %></p>
<p><strong>Author: </strong><%= @article.author %></p>

<%= link_to "Edit this Article", path=edit_article_path %> |
<%= link_to "Back to Articles", path=articles_path %>