<h1>Article Description</h1>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.descrition %></p>
<p><strong>Created By: </strong><%= @article.user.username if @article.user %></p>

<%= link_to "Edit this Article", path=edit_article_path %> |
<%= link_to "Back to Articles", path=articles_path %>
<%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>