<div class="flickr_pagination mb-4"><%= will_paginate @users, :container =>false%></div>
<div class="container">
    <% @users.each do |user| %>
        <div class="container" id="user-card">
            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= user.username%></h5>
                    <p class="card-text"><%= user.email%></p>
                    <%= link_to "Show", user_path(user),class:"btn btn-primary"%>
                    <%= link_to "Edit", edit_user_path(user), class:"btn btn-primary"%>
                    <%= link_to "Destroy", user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},class:"btn btn-primary" %>

                </div>
                <div class="card-footer text-muted">
                    <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
                </div>
            </div>
        </div>
    <% end%>
</div>
<div class="flickr_pagination mb-4"><%= will_paginate @users, :container =>false%></div>