<h1 class="text-center mt-4"><%= @user.username%>'s profile</h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h3 class="text-center mt-4">Articles</h3>
<%= render 'articles/article' %>

<%= link_to "Edit this User", path=edit_user_path %> |
<%= link_to "Back to Users", path=users_path %>
<%= link_to "Destroy", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>